<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
    </system.web>

  <appSettings>
    <add key="SiteKey" value="6LeePR0TAAAAAKmwWWpPB_Tj7J9pxnADr7AsuKls"/>
    <add key="SecretKey" value="6LeePR0TAAAAABMEgScjGgvQA1bf0zpFsDaCW22Y"/>
  </appSettings>
  
  <connectionStrings>
    <add name ="AdventureWorksLT2008R2" connectionString="Data Source=(local);Initial Catalog=AdventureWorksLT2008R2;User=admin;Password=admin;Trusted_Connection=No" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>


